<mat-card class="feed">
    <mat-card-header>
        <mat-card-title>{{title}}</mat-card-title>
    </mat-card-header>
    <div class="feed-img-pos">
        <img [src]="image" class="feed-img" alt="Default imgs">
    </div>
    <mat-card-content>
        <p>{{body | truncate: 5}}</p>
        <p>{{source}}</p>
        <p>{{publisher}}</p>
    </mat-card-content>
    <mat-card-actions>
        <button mat-button (click)="clickDetails()" color="accent">Read more</button>
    </mat-card-actions>
</mat-card>